<div class="page-header">
  <h1>Attendance #<%= @attendance.id %></h1>
</div>

<p>
  <b>Meeting:</b>
  <%= @attendance.meeting_id %>
</p>

<p>
  <b>Student:</b>
  
  <%= @student.first_name %> <%= @student.last_name %>
</p>


